@media (max-width: 767px) {
  .search {
    width: 130px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }
}

@media (min-width: 767px) and (max-width:900px) {
  .search {
    width: 300px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }
  .table-container {
    width: 650px;
  }

  
}

@media (min-width: 768px) and (max-width: 900px) {
}

.seen {
  display: block;
}

.hide {
  display: none;
}
