:root {
  --textcololor: #515050;
  --whitecolor: #d3d1d1;
}

.App {
  color: var(--textcololor);
  background-color: #ebeaef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.deet_color {
  color: gray;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  color: #04315b;
}

.link-style {
  text-decoration: none;
  color: var(--textcololor);
}

.link-style2 {
  text-decoration: none;
  color: #ebeaef;
}


/* Contact Form  */



.modal-title {
  color: var(--darker-blue-text);
}

@media screen and (max-width: 529px) { 

}




textarea.contact_input {
  resize: none;
  width: 100%;
  min-height: 150px;
}

textarea.contact_input ~ label {
  top: 1rem;
  transform: none;
}


.arrow-up {
  position: fixed !important;
  right: 0px;
  bottom: 40px;
  padding: 10px;
  color: #97a6fb;
}

.img {
  /* position: relative; */
}

.shadows::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left:5%;
  width: 85%;
  height: 20px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  z-index: -1; 
   filter: blur(12px); 
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  /* Add any other styling you want for the container */
}

.swiper-slide-container img {
  width: 100%;
  height: auto;
}

.slick-prev:before,
.slick-next:before {
  color: red; /* Change the color to your desired color */
}
